footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

footer .footer {
  padding: 30px 15px;
  background-color: #333;
  display: flex;
  align-items: flex-start;
}

footer .wrapper {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
}

footer .footer .wrapper {
  flex-direction: column;
  gap: 50px;
}

footer .footer .wrapper .branding {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer .wrapper .branding a img {
  width: 100px;
}

footer .footer .wrapper .branding p,
footer .footer .wrapper .info button,
footer .footer .wrapper .info a,
footer .footer .wrapper .info span {
  font-weight: 300;
  color: #fff;
  font-size: 17px;
  line-height: 23px;
  background-color: transparent;
  width: max-content;
  text-decoration: none;
}

footer .footer .wrapper .info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

footer .footer .wrapper .info h5 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 8px;
}

footer .copyright {
  background-color: #000;
  padding: 20px 15px;
}

footer .copyright p {
  font-weight: 300;
  color: #fff;
  font-size: 17px;
  line-height: 23px;
}

@media (min-width: 724px) {
  footer .footer .wrapper {
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
  }

  footer .footer {
    padding: 80px 15px 60px;
  }

  footer .footer .wrapper .branding,
  footer .footer .wrapper .info {
    width: 239px;
    flex-shrink: 0;
  }

  footer .footer .wrapper .branding {
    gap: 20px;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  footer .footer .wrapper .branding {
    flex: 1;
  }
}
